In [1]:
import pandas as pd

In [2]:
file_path="data/all_variables.csv"

In [3]:
num_rows = sum(1 for _ in open(file_path))
num_rows

490556

In [4]:
step_size = int(num_rows / 100000)
step_size

4

In [5]:
df = pd.read_csv(file_path, skiprows=lambda x: x % step_size != 0)

/var/folders/rq/nzqjmf0x07vg4p477yrb9w800000gn/T/ipykernel_37676/3655082444.py:1: DtypeWarning: Columns (542,543,544,545,546,551,552,553,554,555,573,574,575,576,584,585,586,587,588,589,590,591,1346) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, skiprows=lambda x: x % step_size != 0)

In [6]:
df

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,wrywprb,trdawrk,jbprtfp,pfmfdjb,pfmfdjba,dcsfwrk,implvdm,ccrdprs,ccnthum,wrclmch
0,ESS1e06_7,1,6.7,23.11.2023,4,AT,0.9452,1.382163,0.271487,0.375240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ESS1e06_7,1,6.7,23.11.2023,10,AT,1.4178,1.105683,0.271487,0.300179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ESS1e06_7,1,6.7,23.11.2023,18,AT,0.9600,0.699101,0.271487,0.189797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ESS1e06_7,1,6.7,23.11.2023,25,AT,0.3397,0.425435,0.271487,0.115500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ESS1e06_7,1,6.7,23.11.2023,29,AT,0.6795,0.516775,0.271487,0.140298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122633,ESS10SCe03_1,10,3.1,02.11.2023,56945,SE,1.0000,0.759582,0.373480,0.283689,...,NaN,2.0,6.0,NaN,6.0,NaN,10.0,7.0,5.0,3.0
122634,ESS10SCe03_1,10,3.1,02.11.2023,57013,SE,1.0000,0.978959,0.373480,0.365622,...,NaN,3.0,3.0,NaN,1.0,NaN,10.0,7.0,3.0,3.0
122635,ESS10SCe03_1,10,3.1,02.11.2023,57084,SE,1.0000,0.763299,0.373480,0.285077,...,NaN,6.0,66.0,NaN,6.0,NaN,9.0,8.0,4.0,3.0
122636,ESS10SCe03_1,10,3.1,02.11.2023,57211,SE,1.0000,0.851778,0.373480,0.318122,...,NaN,6.0,66.0,NaN,6.0,NaN,10.0,8.0,4.0,4.0
122637,ESS10SCe03_1,10,3.1,02.11.2023,57354,SE,1.0000,0.816802,0.373480,0.305060,...,NaN,6.0,66.0,NaN,6.0,NaN,10.0,1.0,2.0,3.0

In [7]:
missing_percentage = (df.isnull().sum() / len(df)) * 100

missing_percentage

name         0.000000
essround     0.000000
edition      0.000000
proddate     0.000000
idno         0.000000
              ...
dcsfwrk     79.615617
implvdm     76.688302
ccrdprs     78.785531
ccnthum     78.785531
wrclmch     78.785531
Length: 2366, dtype: float64

In [26]:
df["edulvla"].unique()

array([ 3,  2,  5,  1, 99, 55, 88, 77,  4])